{% extends '@content/page.twig' %}

{% block title %}
    Upload note
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
{% endblock css %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h1>Upload Notes</h1>
                </div>
                <div class="round-box-body">
                    {% include '@util/message.twig' %}
                    {% if nid > 0 %}
                        <p>
                            <a href="{{base}}/view/{{nid}}/">View your new note here</a>. Or upload another below.
                            <br/>
                            <br/>
                        </p>
                    {% endif %}
                    <form id="nform" action="#" method="post" role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" id="na" name="name" placeholder="Name of Lecture Notes" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="text" id="cn" name="course" placeholder="Course" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="text" id="mc" name="module" placeholder="Module Code" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="pr" name="privacy" required="required">
                                <option selected disabled>Privacy</option>
                                <option value="1">Public</option>
                                <option value="0">Private</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea id="ds" name="description" placeholder="Description of notes..." rows="5" class="form-control" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea id="cm" name="comment" placeholder="Author's comments..." rows="5" class="form-control" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <small id="ftext" class="form-text text-muted">
                                Upload any files required for these notes.<br/>
                                Supported file formats (PDF,TXT,DOC,PPT,XLS,archives,image files).
                            </small>
                            <input type="file" id="f0" name="uploads[]" class="form-control-file" required="required" multiple
                            accept=".pdf,.txt,.doc,.docx,.ppt,.pptx,.xls,.xlsx,.tar.gz,.7z,.zip,image/*"/>
                        </div>
                        <button class="btn btn-success" type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
