{% extends '@content/page.twig' %}

{% import '@util/attrmacro.twig' as h %}

{% block title %}
    Contact
{% endblock title %}

{% block type %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
{% endblock type %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/main.css">
    <link rel="stylesheet" href="{{assets}}/css/index.css">
{% endblock css %}

{% block scripts %}
    <script {{h.urlattr(fwurls.parsley)}}></script>
{% endblock scripts %}

{% block onload %}
    $('#cform').parsley()
{% endblock onload %}

{% block main %}
    <section class="row">
        <article class="col-md-12">
            <div class="round-box">
                <div class="round-box-heading">
                    <h1>Contact</h1>
                </div>
                <div class="round-box-body">
                    {% include '@util/message.twig' %}
                    <form id="cform" action="#" method="post" role="form">
                        <input type="hidden" name="details" value="1"/>
                        <div class="form-group">
                            <label for="na" class="control-label">Your Name</label>
                            <input type="text" id="na" name="name" placeholder="Name" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="em" class="control-label">Your Email Address</label>
                            <input type="email" id="em" name="sender" placeholder="Email address" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="sj" class="control-label">Subject of Message</label>
                            <input type="text" id="sj" name="subject" placeholder="Subject" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="ms" class="control-label">Message</label>
                            <textarea id="ms" name="message" placeholder="Message..." rows="10" class="form-control" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="ln" class="control-label">Link to notes</label>
                            <small id="ln" class="form-text text-muted">
                                Does this message involve a set of notes?<br>
                                If so, please provide the link below.
                            </small>
                            <input type="text" id="ln" name="subject" placeholder="Subject (Optional)" class="form-control"/>
                        </div>
                        <button class="btn btn-success" type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </article>
    </section>
{% endblock main %}
