body {
    background-color: #EEEEEE;
    font-family: 'Noto Sans', sans-serif;
}

/* Space between navbar and content */
div.container {
    margin-top: 30px;
}


/* Jumbotron */
div.jumbotron {
    color: #FFFFFF;
    background-color: #4BAEA0;
}
div.jumbotron > h1 {
    font-size: 38pt;
}


/* Breadcrumb */
ol.breadcrumb {
    margin-bottom: 30px;
}


/* White boxes */
div.round-box {
    background-color: #ffffff;
    margin-bottom: 2.143rem;
    border-radius: 5px;
}
div.round-box-heading {
    height: 60px;
}
div.round-box-heading > div.right {
    float: right;
    margin-top:15px;
    margin-right: 30px;
}
div.round-box-heading > div.right > p {
    margin-bottom: 5px;
    text-align: right;
}
div.round-box-heading > h1,
div.round-box-heading > h2 {
    color: #424242;
    padding: 20px 30px;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}
div.round-box-body {
    padding: 30px 30px 10px 30px;
    font-size: 1rem;
    font-weight: 500;
}


/* Note box links */
div.note-icon {
    text-align: center;
}
div.note-icon > i {
    color: #ffffff;
    font-size: 3em;
    padding-top: 50%;
}
div.file-word {
    background-color: #a2b7fb;
}
div.file-excel {
    background-color: #8eca91;
}
div.file-powerpoint {
    background-color: #ffd669;
}
div.file-pdf {
    background-color: #f5adad;
}
div.file-archive {
    background-color: #76d4cb;
}
div.file-code {
    background-color: #a1887f;
}
div.file-image {
    background-color: #88c9e6;
}
div.file {
    background-color: #c09dff;
}
@media (max-width: 768px) {
    div.note-icon {
        height: 70px;
        text-align: left;
    }
    div.note-icon > i {
        padding: 10px 0px 0px 20px;
    }
}


/* Table styles */
table {
    width: 100%;
    margin-bottom: 20px;
}
table.stats > tbody > tr > th {
    width: 300px;
}
/* Hover table icons */
table > tbody > tr > td > i {
    cursor: pointer;
}

/* Rating styles */
div.stars {
    text-align: center;
    margin-bottom: 40px;
}
span.fa-star {
    font-size: 30px;
}
span.fa-star.checked {
    color: orange;
}
